allow system_server sensors_data_file:dir r_dir_perms;
allow system_server sensors_data_file:file rw_file_perms;
allow system_server sensors_data_file:fifo_file rw_file_perms;
allow system_server sysfs_devices_sensors:dir search;
allow system_server sysfs_devices_sensors:file rw_file_perms;
allow system_server sysfs_devices_sensors:lnk_file read;
allow system_server mpctl_data_file:dir search;
allow system_server mpctl_data_file:sock_file write;

r_dir_file(system_server, fac_file)
r_dir_file(system_server, persist_file)
